@using Microsoft.AspNetCore.Identity
@using Quyzygy.Entities;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ ViewData["Title"] = "Log in"; }
@if (SignInManager.IsSignedIn(User))
{
    <script type="text/javascript">
        function getXSRFToken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>
    <h1>You are already authenticated.</h1>
}
else
{
    <div style="background-color:white;">
        <div class="container" style="width:50%;">
            <div class="row">
                <div class="row">
                    <p class="flow-text">
                        <h5>Sign up</h5>
                    </p>
                </div>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <p>I am a</p>
                        <label>
                            <input class="with-gap" name="group3" type="radio" checked />
                            <span>Student</span>
                            <label>
                                <input class="with-gap" name="group3" type="radio" />
                                <span>Teacher</span>
                            </label>
                        </label>
                    </div>
                    <div class="row">
                        <a style="float:right;" class="waves-effect waves-light btn"><i class="material-icons right">keyboard_arrow_right</i>Sign up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
}